{% extends "AppNomads/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Formulario - Agregar Nomade</h1>
    <p>Si ya eres un nomade y te interesaria dar cursos o compartir experiencias con los usuarios de la plataforma, logueate aqui!</p>
    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ miFormulario.as_table }}


        </table>


        <input type="submit", value="Enviar">

    </form>

  

{% endblock %}